/*Css Reset*/
input,textarea{margin:0;padding:0;border:none; outline:none;}
textarea{ resize:none; overflow:auto;}
em{ font-style:normal;}
ul{margin:0;padding:0; list-style:none;}
h1,p,h2{margin:0; font-weight:normal;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border:none; vertical-align:top;}
body{margin:0;position:relative; font-family:Arial,"微软雅黑";color:#666; font-size:26px;}
/*page公用样式*/
.page{height: 100%; width: 100%; background: white;
    position: absolute; left: 0; top: 0; overflow: hidden;
    font-size: 26px; z-index: 1; display: none;}
.pageShow{display: block;}
/*设置页面层级*/
.page:nth-of-type(1){z-index:10;}
.page:nth-of-type(2){z-index:9;}
.page:nth-of-type(3){z-index:8;}
.page:nth-of-type(4){z-index:7;}
.page:nth-of-type(5){z-index:6;}


/*欢迎页*/
.tree{position: absolute; left: 0; top: 10%; width: 100%;}
#logo{text-align: center; position: absolute; left: 0; width: 100%;
bottom: 5%;}
.title{position: relative; padding-top: 50px;}
.shake{position: absolute; left: 509px; top: 12px; background: url("../img/shake.png") no-repeat;
width: 28px; height: 31px; display: block;}
.title2{padding-top: 20px;}
.cloud{position: absolute; background: url("../img/cloud.png") no-repeat;
background-size: contain;}
.cloud:nth-of-type(1){left: 432px; top: 15px; width: 58px; height: 44px;}
.cloud:nth-of-type(2){left: 79px; top: 77px; width: 91px; height: 70px;}
.cloud:nth-of-type(3){left: 402px; top: 142px; width: 54px; height: 41px;}