/*Css Reset*/
input,textarea{margin:0;padding:0;border:none; outline:none;}
textarea{ resize:none; overflow:auto;}
em{ font-style:normal;}
ul{margin:0;padding:0; list-style:none;}
h1,p,h2{margin:0; font-weight:normal;}
a,input{-webkit-tap-highlight-color:rgba(255,0,0,0);}
img{ border:none; vertical-align:top;}
body{margin:0;position:relative; font-family:Arial,"微软雅黑";color:#666; font-size:26px;}
/*page公用样式*/
.page{height: 100%; width: 100%; background: white;
    position: absolute; left: 0; top: 0; overflow: hidden;
    font-size: 26px; z-index: 1; display: none;}
.pageShow{display: block;}
/*设置页面层级*/
.page:nth-of-type(1){z-index:10;}
.page:nth-of-type(2){z-index:9;}
.page:nth-of-type(3){z-index:8;}
.page:nth-of-type(4){z-index:7;}
.page:nth-of-type(5){z-index:6;}


/*欢迎页*/
.tree{position: absolute; left: 0; top: 10%; width: 100%;
-webkit-transform: translateY(100px);
transform: translateY(100px); opacity: 0;
-webkit-animation: 1s tree ;
animation: 1s tree ;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
#logo{text-align: center; position: absolute; left: 0; width: 100%;
bottom: 5%;
opacity: 0;
-webkit-animation: 0.5s 1s tree;
animation: 0.5s 1s tree;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
.title{position: relative; padding-top: 50px;
opacity: 0;
-webkit-transform: translateY(30px);
transform: translateY(30px);
-webkit-animation: 1.3s tree;
animation: 1.3s tree;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
.shake{position: absolute; left: 509px; top: 12px; background: url("../img/shake.png") no-repeat; display: block; width: 28px; height: 31px;
-webkit-animation:0.5s 2.2s shake;
-webkit-transform-origin: left bottom;
transform-origin: left bottom;
animation:0.3s 2.2s shake;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
}
.title2{padding-top: 20px;
opacity: 0;
-webkit-transform: translateY(40px);
transform: translateY(40px);
-webkit-animation: 1.5s tree;
animation: 1.5s tree;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
.cloud{position: absolute; background: url("../img/cloud.png") no-repeat;
background-size: contain;
-webkit-animation:3s 2.5s cloud infinite alternate linear;
animation:3s 2.5s cloud infinite alternate linear;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;}
.cloud:nth-of-type(1){left: 432px; top: 15px; width: 58px; height: 44px;}
.cloud:nth-of-type(2){left: 79px; top: 77px; width: 91px; height: 70px;}
.cloud:nth-of-type(3){left: 402px; top: 142px; width: 54px; height: 41px;}

/*首页（图片轮播）*/
#tabPic{overflow: hidden; position: relative;}
.picList{overflow: hidden;  }
.picList li{float: left; position: relative;}
.picList li p{font-size: 29px; position: absolute;  color: white; line-height: 120px;
text-indent: 26px; height: 102px; width: 100%; left: 0; bottom: 0; display: block;
background:-webkit-linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0));
background:linear-gradient(bottom,rgba(0,0,0,0.9) 0,rgba(0,0,0,0.8) 10%,rgba(0,0,0,0));
}
.picList img{width: 100%; height: 342px;}
.picMask{height: 102px; position: absolute; left: 0; bottom: 0; width: 100%;}
.picMask nav{height: 10px; right: 26px; top: 56px; position: absolute; z-index: 5;}
.picMask nav a{float: left; width: 10px; height: 10px; border-radius: 5px;
background: white; opacity: 0.5; margin-left: 15px;}
.picMask nav a.active{opacity: 1;}

/*首页（评分组件）*/
#score{line-height: 60px; padding: 17px 0 0 26px; }
#score h2{font-size: 28px;}
#score li{height: 60px; position: relative;}
#score nav{position: absolute; left: 187px; top: 12px;}
#score nav a{float: left; background: url("../img/star.png") no-repeat -38px 0;
width: 38px; height: 36px; margin-right: 39px;
-webkit-transition: 0.3s;}
#score nav .active{background-position: 0 0;}

/*首页（添加标签）*/
.tags{padding: 21px 0 0 26px;}
.tags h2{line-height: 54px; font-size: 28px;}
.tags label{float: left; line-height: 50px; margin: 10px 14px 10px 3px;}
.tags label input{ display:none;}
.tags label span{ float: left; border: 1px solid #cdd6e1; padding: 0 24px;
border-radius: 26px;}
.tags input:checked+span{border-color: #3c9bbb; background: #3c9bbb; color: white;}